<section>
  <h1>Cadastrar ToDo</h1>
  <form [formGroup]="todoForm"  (submit)="cadastrar()">
    <mat-form-field appearance="fill">
      <mat-label>Nome da Tarefa</mat-label>
      <input matInput placeholder="Tarefa" formControlName="nome" required>

    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="nome.status" != 'VALID'
     >Cadastrar</button>
    <mat-error *ngIf="nome.errors?.['required']">
      <span style="color: red">Campo obrigatório</span>
    </mat-error>

  </form>

</section>
